@charset "UTF-8";

/*
body構成
*/
body {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

/*
登録情報の表示部分css
*/
form {
	padding: 20px 200px;
}

form dl dt {
	width: 100px;
	padding: 0 0;
	float: left;
	clear: both;
}

form dl dd {
	padding: 0 0;
}
input {
	height: 24px;
	padding: 0 0;
}
select {
	height: 24px;
	width: 173px;
}


.button {
	width: 177px;
	margin: 10px 10px;
}